.app_header {
    margin: auto;
    border: 4px solid lawngreen;
    text-align: center; 
    margin-bottom: 50px;
}

.todo__list {
    text-align: center
}

.list-group{
    width: 60%;
    margin: auto;
}